section {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}
section, span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

header {
    display: flex;
    flex-direction: row;
}
input {
    flex-grow: 1;
}

span {
    cursor: pointer;
}
span:hover {
    text-decoration: underline;
}
