/**
* Stylesheet for Links Panel Extension
* No copyright reserved
* Marked portions copyright their respective owners
**/
:root {
    --radiusRound: 0px;

    --colorBgLightIntense: #ffffff;
    --colorFg: #333333;
    --colorHighlightBg: #006ed7;
    --colorHighlightFg: #f6f6f6;
    --colorBorder: #cdcdcd;
    --colorBorderIntense: #b9b9b9;
    --colorBg: #f6f6f6;
    --colorBgDark: #ececec;

}

@media (prefers-color-scheme: dark) {
    :root {
        --colorBgLightIntense: #343434;
        --colorFg: #cdc8c0;
        --colorHighlightBg: #0190f5;
        --colorHighlightFg: #f6f6f6;
        --colorBorder: #242424;
        --colorBorderIntense: #161616;
        --colorBg: #2e2e2e;
        --colorBgDark: #2a2a2a;
    }
}

body {
    min-width: 300px;
    background-color:  var(--colorBgLightIntense);
    color: var(--colorFg);
}

header {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0px;
    height: 30px;
    margin: 5px 0px;
    background: var(--colorBgLightIntense);
    width: 100%;
}
button, input {
    border-radius: var(--radiusRound);
    border: 1px solid var(--colorBorder);
    color: var(--colorFg);
}
button {
    background: linear-gradient(var(--colorBgLightIntense), var(--colorBg));
}
button.hidden {
    display: none;
}
input {
    flex-grow: 1;
    background: var(--colorBgLightIntense);
}

nav {
    display: flex;
    justify-content: space-between;
}

nav.closed {
    display: none;
}

section {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}
section, a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
a:link {
    color: var(--colorHighlightBg);
}
a:visited {
    color: var(--colorFg);
}
a.selected {
    background: var(--colorHighlightBg);
    color: var(--colorHighlightFg);
}

dialog h4 {
    margin-top: 0;
}

#closedl {
    float: right;
}


/**
* Custom scrollars stolen from Vivaldi
* These will follow the main browser theme if one is being injected
* Copyright 2019 Vivaldi Technologies
* https://vivaldi.com/
**/
::-webkit-scrollbar {
width: 16px;
}
::-webkit-scrollbar-button {
display: flex;
width: 16px;
height: 16px;
}
::-webkit-scrollbar-button:vertical {
border-left: 1px solid var(--colorBg);
}
::-webkit-scrollbar-button:vertical:decrement {
background-image: linear-gradient(transparent 68%, var(--colorBg) 68%), linear-gradient(135deg, var(--colorBg) 45%, transparent 45%), linear-gradient(45deg, var(--colorFg) 53%, var(--colorBg) 53%);
}
::-webkit-scrollbar-button:vertical:decrement:hover {
background-image: linear-gradient(transparent 68%, var(--colorBgDark) 68%), linear-gradient(135deg, var(--colorBgDark) 45%, transparent 45%), linear-gradient(45deg, var(--colorFg) 53%, var(--colorBgDark) 53%);
}
::-webkit-scrollbar-button:vertical:decrement:active {
background-image: linear-gradient(transparent 68%, var(--colorFg) 68%), linear-gradient(135deg, var(--colorFg) 45%, transparent 45%), linear-gradient(45deg, var(--colorBg) 53%, var(--colorFg) 53%);
}
::-webkit-scrollbar-button:vertical:increment {
background-image: linear-gradient(45deg, var(--colorBg) 45%, transparent 45%), linear-gradient(-225deg, transparent 53%, var(--colorBg) 53%), linear-gradient(-180deg, var(--colorBg) 31%, var(--colorFg) 31%);
}
::-webkit-scrollbar-button:vertical:increment:hover {
background-image: linear-gradient(45deg, var(--colorBgDark) 45%, transparent 45%), linear-gradient(-225deg, transparent 53%, var(--colorBgDark) 53%), linear-gradient(-180deg, var(--colorBgDark) 31%, var(--colorFg) 31%);
}
::-webkit-scrollbar-button:vertical:increment:active {
background-image: linear-gradient(45deg, var(--colorFg) 45%, transparent 45%), linear-gradient(-225deg, transparent 53%, var(--colorFg) 53%), linear-gradient(-180deg, var(--colorFg) 31%, var(--colorBg) 31%);
}
::-webkit-scrollbar-button:horizontal {
border-top: 1px solid var(--colorBg);
}
::-webkit-scrollbar-button:horizontal:decrement {
background-image: linear-gradient(-135deg, transparent 53%, var(--colorBg) 53%), linear-gradient(-45deg, transparent 53%, var(--colorBg) 53%), linear-gradient(90deg, var(--colorFg) 70%, var(--colorBg) 70%);
}
::-webkit-scrollbar-button:horizontal:decrement:hover {
background-image: linear-gradient(-135deg, transparent 53%, var(--colorBgDark) 53%), linear-gradient(-45deg, transparent 53%, var(--colorBgDark) 53%), linear-gradient(90deg, var(--colorFg) 70%, var(--colorBgDark) 70%);
}
::-webkit-scrollbar-button:horizontal:decrement:active {
background-image: linear-gradient(-135deg, transparent 53%, var(--colorFg) 53%), linear-gradient(-45deg, transparent 53%, var(--colorFg) 53%), linear-gradient(90deg, var(--colorBg) 70%, var(--colorFg) 70%);
}
::-webkit-scrollbar-button:horizontal:increment {
background-image: linear-gradient(135deg, transparent 53%, var(--colorBg) 53%), linear-gradient(45deg, transparent 53%, var(--colorBg) 53%), linear-gradient(-90deg, var(--colorFg) 70%, var(--colorBg) 70%);
}
::-webkit-scrollbar-button:horizontal:increment:hover {
background-image: linear-gradient(135deg, transparent 53%, var(--colorBgDark) 53%), linear-gradient(45deg, transparent 53%, var(--colorBgDark) 53%), linear-gradient(-90deg, var(--colorFg) 70%, var(--colorBgDark) 70%);
}
::-webkit-scrollbar-button:horizontal:increment:active {
background-image: linear-gradient(135deg, transparent 53%, var(--colorFg) 53%), linear-gradient(45deg, transparent 53%, var(--colorFg) 53%), linear-gradient(-90deg, var(--colorBg) 70%, var(--colorFg) 70%);
}
::-webkit-scrollbar-track {
background-color: var(--colorBg);
background-clip: border-box;
}
::-webkit-scrollbar-track:vertical {
border-left: 1px solid var(--colorBg);
border-right: 1px solid var(--colorBg);
}
::-webkit-scrollbar-track:horizontal {
border-top: 1px solid var(--colorBg);
border-bottom: 1px solid var(--colorBg);
}
::-webkit-scrollbar-thumb {
background-color: var(--colorBorder);
background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover {
background-color: var(--colorBorderIntense);
}
::-webkit-scrollbar-thumb:active {
background-color: var(--colorFg);
}
::-webkit-scrollbar-thumb:vertical {
border-left: 1px solid transparent;
border-right: 1px solid transparent;
}
::-webkit-scrollbar-thumb:horizontal {
border-top: 1px solid transparent;
border-bottom: 1px solid transparent;
}
