body {
    min-width: 300px;
}


header {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0px;
    height: 30px;
    margin: 5px;
    background: white;
    width: calc(100% - 10px);
}
button.hidden {
    display: none;
}
input {
    flex-grow: 1;
}


section {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}
section, span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
span {
    cursor: pointer;
}
span:hover {
    text-decoration: underline;
}
